table {
  width: 50%;
  border-collapse: collapse;
  border: 3px solid black;
  background-color: black;
  color: white;
}

th,
td {
  padding: 20px;
}
tbody tr:nth-child(odd) {
  background-color: grey;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
}

tbody tr {
  background-color: white;
}

tbody td {
  border-collapse: collapse;
  border: 1px solid black;
}
